@use 'config' as *;

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon-btn,
.icon-btn span,
.icon-btn span::before {
	width: to-rem(26);
    height: to-rem(26);
    padding: 0;
    margin: 0;
}   
.icon-btn {
    span {
        display: flex;
        font-size: to-rem(24);
        &::before {
            display: block;
        }
        &.fa-sun {
            color: #ffff00;
        }
        &.fa-bars {
            font-size: to-rem(24);
            color: var(--text-primary);
        }
    }
}
#menu-toggle {
    @media (min-width: 768px) {
        display: none;
    }
}
.btn {
    // TO DO: Add gold accent color to button, using ADP's button hover effect
	display: inline-block;
	color: $white;
    background-color: $green;
	padding: 15px;
	border-radius: 3px;
	text-decoration: none;
	margin-top: 10px;
	font-size: to-rem(18);
	transition: $transition;
	&:hover {
		background-color: $dark-green;
	}
}