@use "config" as *;
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
main {
	min-height: 100vh;
}
header,
footer {
	& > .f-wrap {
        justify-content: center;
    }
	.logo-link {
		font-family: $header-font;
		font-size: to-rem(32);
		line-height: 1.5;
		text-decoration: none;
	}
	a {
		text-decoration: none;
	}
}
.nav {
	ul {
		display: flex;
		flex-direction: column;
		gap: 35px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		a {
			font-weight: 700;
			font-size: to-rem(20);
		}
	}
}
.block {
    padding: clamp(40px, 5vw, 60px) 0;
}
.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px 15px;
}
img {
	display: block;
	margin: 0;
	padding: 0;
}
// For images wrapped in a figure
.img-figure {
	width: 100%;
    margin: 0;
    padding: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.flex {
	display: flex;
}
.f-wrap {
	flex-wrap: wrap;
}
.f-center {
	justify-content: center;
	align-items: center;
}
.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.rounded {
	border-radius: 50%;
}
.icon-container {
	display: flex;
	gap: 25px;
}
.two-column {
	@media (min-width: 1024px) {
		column-count: 2;
		column-gap: 35px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		max-width: fit-content;
	}
}
.overlay {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.45);
		border-radius: 3px; 
	}
}
.rel {
	position: relative;
}

// TODO: Create focus state for all HTML elements