@use "config" as *;

header {
    padding: 30px 0;
    border-bottom: 3px solid var(--text-primary);;
    & > .f-wrap {
        align-items: center;
        justify-content: space-between;
    }
    .header-right {
        gap: 35px;
        position: relative;
        .nav {
            position: absolute;
            z-index: 20;
            background: var(--bg-color);
            padding: 20px;
            border: 2px solid var(--text-primary);
            border-radius: 20px;
            top: 40px;
            right: 43px;
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            transition: max-height 0.75s ease-in-out, visibility 0.75s ease-in-out;
            &.open {
                max-height: 2000px;
                visibility: visible;
                transition: max-height 0.75s ease-in-out, visibility 0.75s ease-in-out;
            }
        }
    }
}