@use "config" as *;

header {
    padding: 30px 0;
    border-bottom: 3px solid var(--text-primary);;
    & > .f-wrap {
        align-items: center;
        justify-content: space-between;
    }
    .header-right {
        gap: 25px;
        position: relative;
        align-items: center;
        @media (min-width: 768px) {
            gap: 35px;
        }
        .nav {
            position: absolute;
            z-index: 20;
            background: var(--bg-color);
            padding: 20px;
            border: 2px solid var(--text-primary);
            border-radius: 20px;
            top: 40px;
            right: 43px;
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            &.open {
                max-height: 2000px;
                visibility: visible;
                transition: max-height 0.75s ease-in-out, visibility 0.75s ease-in-out;
            }
            @media (min-width: 768px) {
                visibility: visible;
                max-height: none;
                position: static;
                flex-direction: row;
                padding: 0;
                border: none;
                border-radius: 0;
                ul {
                    flex-direction: row;
                }
            }
        }
    }
}