@use "config" as *;

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1920 / 500;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%; 
}

.content {
    z-index: 2;
    padding: 50px 20px;
    width: 100%;
    max-width: 800px;
}