/*--------------------
    Table of Contents
        # Colors
        # Fonts
        # Misc
--------------------*/

/*-----------
    # Colors
-----------*/
$font-color: #2c2c2c;
// $maroon: #8c0717;
// $btn-hover: #ef0824;
$white: #fff;

/*-----------
    # Fonts
-----------*/
$header-font: Verdana, sans-serif;
$body-font: Arial, sans-serif;

/*-----------
    # Misc
-----------*/
$transition: 0.25s all ease-in-out;