/*--------------------
    Table of Contents
        # Colors
        # Fonts
        # Misc
--------------------*/

/*-----------
    # Colors
-----------*/
body {
    --bg-color: #060913;
    --text-primary: #fff;

    background-color: var(--bg-color);
    color: var(--text-primary);
}
body.light {
    --bg-color: #fdfbf8;;
    --text-primary: #060913;
    
    background-color: var(--bg-color);
    color: var(--text-primary);
}
$white: #fff;
$black: #000;
$green: #009958;
$dark-green: #17734c;

/*-----------
    # Fonts
-----------*/
$header-font: Verdana, sans-serif;
$body-font: Arial, sans-serif;
/*-----------
    # Misc
-----------*/
$transition: 0.25s ease-in-out;