@use "normalize";
@use "config" as *;
@use "fonts";
@use "buttons";
@use "global";
@use "header";
@use "hero";

// This takes all blocks defined using @forward in the blocks/_index.scss file
@use "blocks";