<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.min.css">
    {% if seo_description == "no-index" %}
        <meta name="robots" content="noindex">
    {% else %}
        <meta name="description" content="{{ seo_description }}">
    {% endif %}
</head>
<body>
    <header>
        <div class="wrap flex-wrap">
            <a class="logo-link" href="/">Interloper</a>
            <nav class="nav">
                <ul>
                {% for item in header_menu.menu.items %}
                    <li>
                    <a href="{{ item.url }}"{% if item.new_tab %} target="_blank" rel="noopener noreferrer"{% endif %}>
                        {{ item.link_text }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {# Hero section #}
        {% set block = hero[0] %}
        {% include "blocks/" + block._block + ".njk" %}
        
        {# Loop through blocks and render each one #}
        {% for block in blocks %}
            {% include "blocks/" + block._block + ".njk" %}
        {% endfor %}
    </main>
</body>
</html>