<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.min.css">
    <meta name="description" content="{{ seo-description }}" class="yoast-seo-meta-tag">
</head>
<body>
    <header>
        <div class="wrap flex-wrap">
            <a class="logo-link" href="/">Interloper</a>
            <nav class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {# Loop through blocks and render each one #}
        {% for block in blocks %}
            {% include "blocks/" + block._block + ".njk" %}
        {% endfor %}
    </main>
</body>
</html>