<section class="section alt-content">
    <div class="wrap flex-wrap">
        <div class="content">
            {# TO DO: Add content here. #}
        </div>
        <figure class="img-figure">
            {# TO DO: Add logic for adding "rounded" class to image #}
            <img class="" src="{{ block.image }}" alt="{{ block.image_alt }}">
        </figure>
    </div>
</section>