<section class="block hero-simple">
    <div class="wrap">
        <div class="centered">
            <h1>{{ block.heading }}<h1>
            {% if block.subheading %}
                {{ block.subheading | markdown | safe }}
            {% endif %}
        </div>
    </div>
</section>