<section class="block hero-simple">
    <div class="wrap">
        <div class="overlay centered">
            <h1>{{ block.heading }}<h1>
            {{ block.subheading | markdown | safe }}
        </div>
    </div>
</section>