<section class="block hero-image">
    <div class="wrap">
        {# TO DO: Create image sizing and attributes w/ image plugin and hero image here #}
        {# <img src="" alt=""> #}
        <div class="overlay centered">
            <h1>{{ block.heading }}<h1>
            {% if block.subheading %}
                {{ block.subheading | markdown | safe }}
            {% endif %}
        </div>
    </div>
</section>