<section class="hero simple-hero">
    <div class="wrap">
        <div class="content centered">
            <h1>{{ block.heading }}</h1>
            {% if block.subheading %}
                <div class="subheading">{{ block.subheading | markdown }}</div>
            {% endif %}
        </div>
    </div>
</section>