<section class="hero-image">
    <div class="wrap">
        <img class="overlay" width="1920" src="{{ block.hero_image }}" alt="{{ block.alt_text }}">
        <div class="centered">
            <h1>{{ block.heading }}<h1>
            {% if block.subheading %}
                {{ block.subheading | markdown | safe }}
            {% endif %}
        </div>
    </div>
</section>