@use '../config' as *;

.contact-form {
    .intro {
        text-align: center;
        max-width: 800px;
    }
    .form {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .form-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        column-gap: 30px;
        width: 100%;
        max-width: 900px;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    .form-item {
        display: flex;
        flex-direction: column;
        gap: 2px;
        width: 100%;
        input {
            height: 48px;
        }
        textarea {
            height: 96px;
        }
    }
}